body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: #06ffb9;
    transform: scale(1.3);
    padding: 5px;
}

a:hover {
    color: #00d1b2;
    transform: scale(1.4);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.7);
}

.chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.chessboard-wrapper {
    width: 95vw;
    height: 95vw;
    max-width: 550px;
    max-height: 550px;
    border: 2px solid #fbfbfb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.5s;
}

.chessboard-wrapper.rotating {
    opacity: 1;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* -----------------------------------------------------------------------------------    LAPTOOOOOOOOP */
@media (min-width: 769px) {

    .game-over-state {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(136, 211, 201, 0.916);
        color: rgb(65, 14, 50);
        width: 50%;
        height: 70%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        z-index: 10;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .king-image {
        width: 150px;
        height: auto;
        margin-bottom: 20px;
    }

    .king-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .game-over-text {
        text-align: center;
        margin-bottom: 20px;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #f5c6cb;
        padding: 10px 15px;
        border-radius: 5px;
        border-color: transparent;
        font-size: 20px;
        cursor: pointer;
    }

    .close-button:hover {
        color: white;
        background-color: #015c4e;
        transition: ease-out 0.2s;
        transform: scale(1.1);
    }


    .game-state {
        all: unset;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: center;
        right: 4%;
        background-color: #d7f8f2;
        color: #03014f;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        padding: 15px 45px;
        font-size: 20px;
        font-weight: bold;
        z-index: 2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        max-width: 200px;
        opacity: 0.9;
    }





    .game-over-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    .minimize-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .minimize-button:hover {
        background-color: #015c4e;
        transition: ease-out 0.2s;
        transform: scale(1.2);
    }

    .revenge-button {
        background-color: rgba(13, 0, 107, 0.688);
        /* Red button */
        color: white;
        border: none;
        padding: 15px 50px;
        font-size: 20px;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 10px;
    }

    .revenge-button:hover {
        background-color: rgb(0, 91, 107);
        /* Darker red on hover */
        transform: scale(1.2);
        transition: ease-in-out 0.3s;
    }


    .game-over-message {
        margin-top: 20px;
    }


    /* Minimized state */
    .minimized .game-over-state {
        width: 150px;
        /* Adjust size when minimized */
        height: 50px;
        /* Height when minimized */
        padding: 10px;
    }

    .minimized .game-over-message {
        display: none;
        /* Hide message when minimized */
    }

    .minimized .close-button {
        display: none;
        /* Optionally hide close button in minimized state */
    }



}

/* ------------------------------------------------------------------------    MOBILE */
@media (min-width: 320px) and (max-width: 768px) {
    .chessboard-wrapper {
        width: 100vw;
        height: 100vw;
    }

    .game-over-state {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(136, 211, 201, 0.899);
        color: rgb(65, 14, 50);
        width: 90%;
        height: 70%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        z-index: 10;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .game-over-text {
        text-align: center;
        margin-bottom: 20px;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #f5c6cb;
        padding: 10px 15px;
        border-radius: 5px;
        border-color: transparent;
        font-size: 20px;
        cursor: pointer;
    }

    .close-button:hover {
        background-color: aquamarine;
        transition: ease-out 0.2s;
        transform: scale(1.1);
    }

    .revenge-button {
        background-color: rgba(13, 0, 107, 0.688);
        /* Red button */
        color: white;
        border: none;
        padding: 15px 50px;
        font-size: 20px;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 10px;
    }

    .revenge-button:hover {
        background-color: rgb(0, 91, 107);
        /* Darker red on hover */
        transform: scale(1.2);
        transition: ease-in-out 0.3s;
    }

    .king-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .king-image {
        width: 120px;
        height: auto;
        margin-bottom: 15px;
    }


    .game-state {
        all: unset;
        position: absolute;
        top: 7.5%;
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: #d7f8f2;
        color: #001456;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        font-size: 12px;
        font-weight: bold;
        padding: 8px 40px;
        z-index: 2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        opacity: 0.9;
    }


    /* Minimized state */
    .minimized .game-over-state {
        width: 150px;
        /* Adjust size when minimized */
        height: 50px;
        /* Height when minimized */
        padding: 10px;
    }

    .minimized .game-over-message {
        display: none;
        /* Hide message when minimized */
    }

    .minimized .close-button {
        display: none;
        /* Optionally hide close button in minimized state */
    }

    .minimize-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .minimize-button:hover {
        background-color: #015c4e;
        transition: ease-out 0.2s;
        transform: scale(1.2);
    }

}