.chessboard-container-analysis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px dashed #686868;
}

.react-chessboard-wrapper-analysis {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8cbeff;
    border-radius: 5px;
}

@media (min-width: 481px) {
    .react-chessboard-wrapper-analysis {
        max-width: 500px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .react-chessboard-wrapper-analysis {
        max-width: 100%;
    }
}